<div class="container w-full gap-4 grid lg:grid-cols-4">
  <!--- File Size --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">File Size</p>
    <app-statistic
      text="{{ level?.Analysis?.FileSize }} bytes"
      class="w-full"
    ></app-statistic>
  </div>

  <!--- Total Entities --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Total Entities</p>
    <app-statistic
      text="{{ level?.Analysis?.TotalEntities }}"
      class="w-full"
    ></app-statistic>
  </div>

  <!--- Has Car -->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Has Car</p>
    <app-statistic
      text="{{ level?.Analysis?.HasCar ? 'Yes' : 'No' }}"
      class="w-full"
    ></app-statistic>
  </div>

  <!--- Has Exploding Car -->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Has Exploding Car</p>
    <app-statistic
      text="{{ level?.Analysis?.HasExplodingCar ? 'Yes' : 'No' }}"
      class="w-full"
    ></app-statistic>
  </div>

  <!--- Total Screens --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Total Screens</p>
    <app-statistic
      text="{{ level?.Analysis?.TotalScreens }}"
      class="w-full"
    ></app-statistic>
  </div>

  <!--- BPM --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">BPM</p>
    <app-statistic
      text="{{ level?.Analysis?.Bpm }}"
      class="w-full"
    ></app-statistic>
  </div>

  <!--- Scale --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Scale</p>
    <app-statistic text="{{ scaleName }}" class="w-full"></app-statistic>
  </div>

  <!--- Transpose Value --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Transpose Value</p>
    <app-statistic
      text="{{ level?.Analysis?.TransposeValue }}"
      class="w-full"
    ></app-statistic>
  </div>

  <!--- Unique Plays --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Unique Plays</p>
    <app-statistic
      text="{{ level?.UniquePlays }}"
      class="w-full"
    ></app-statistic>
  </div>

  <!--- Unique Completions --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Unique Completions</p>
    <app-statistic
      text="{{ level?.UniqueCompletions }}"
      class="w-full"
    ></app-statistic>
  </div>

  <!--- Total Play Time --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Total Play Time</p>
    <app-statistic [text]="totalPlayTime" class="w-full"></app-statistic>
  </div>

  <!--- Deaths --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Total Deaths</p>
    <app-statistic
      text="{{ level?.TotalDeaths }}"
      class="w-full"
    ></app-statistic>
  </div>
</div>
