<div class="flex justify-center content">
  <div class="flex-col items-center justify-center w-full max-w-2xl content">
    <div
      class="bg-[#cdb242] w-full p-6 items-center flex justify-center box-shadow"
    >
      <h1 class="header font-bold text-center">Reset Password</h1>
    </div>
    <div class="container max-w-2xl flex-col">
      <div class="mb-2">
        <app-stepper
          [StepsCount]="2"
          [StepIndex]="PageIndex"
          class="w-full"
        ></app-stepper>
      </div>

      <app-send-password-session
        *ngIf="PageIndex == 0"
        class="w-full"
        (sentCode)="sentCode($event)"
      ></app-send-password-session>

      <app-set-password-page
        *ngIf="PageIndex == 1"
        class="w-full"
        [emailAddress]="emailAddress"
        (onFinishedRegistration)="onFinishedRegistration()"
      ></app-set-password-page>
    </div>
  </div>
</div>
