<div class="flex justify-center">
  <div class="container max-w-2xl flex-col">
    <h1 class="header mb-6">Reset Password</h1>

    <div class="mb-2">
      <app-stepper
        [StepsCount]="2"
        [StepIndex]="PageIndex"
        class="w-full"
      ></app-stepper>
    </div>

    <app-send-password-session
      *ngIf="PageIndex == 0"
      class="w-full"
      (sentCode)="sentCode($event)"
    ></app-send-password-session>

    <app-set-password-page
      *ngIf="PageIndex == 1"
      class="w-full"
    [emailAddress]="emailAddress"
      (onFinishedRegistration)="onFinishedRegistration()"
    ></app-set-password-page>
  </div>
</div>
