<div
  *ngIf="User != undefined"
  class="flex justify-center flex-col items-center"
>
  <div class="w-full flex items-center justify-center">
    <div class="container flex items-start justify-start flex-col">
      <div class="flex justify-between w-full">
        <h1 class="text-5xl">{{ User.Username }}</h1>

        <div *ngIf="loggedIn && !!User">
          <app-user-follow-button
            class="items-start"
            [userId]="User.Id"
          ></app-user-follow-button>
        </div>
      </div>
      <div class="flex gap-2 text-lg items-center">
        <!--- Levels --->
        <fa-icon [icon]="LevelsIcon" class="fa-lg"></fa-icon>
        <p>{{ User.PublishedLevelsCount }}</p>

        <!--- Followers --->
        <fa-icon [icon]="FollowersIcon" class="fa-lg"></fa-icon>
        <p>{{ User.FollowersCount }}</p>
      </div>
    </div>
  </div>

  <app-user-statistics
    [user]="User"
    class="w-full flex justify-center"
  ></app-user-statistics>
</div>
