<div class="flex flex-col h-full">
  <div>
    <div class="ease-in duration-300 grid grid-cols-2 w-full">
      <div *ngFor="let level of levelsWrapper?.Levels; let i = index">
        <app-level-view [level]="level" class="w-full h-full"></app-level-view>
      </div>
    </div>
  </div>

  <div class="w-full mt-2" *ngIf="levelsWrapper.Count > 2">
    <app-wide-icon-button
      routerLink="/levels"
      [queryParams]="params"
      [icon]="moreIcon"
      class="w-full h-full"
    ></app-wide-icon-button>
  </div>
</div>
