<div class="w-full gap-4 grid lg:grid-cols-4">
  <!--- Join Date --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Joined</p>
    <app-statistic [text]="creationDate" class="w-full"></app-statistic>
  </div>

  <!--- Total Play Time --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Total Play Time</p>
    <app-statistic [text]="totalPlayTime" class="w-full"></app-statistic>
  </div>

  <!--- Total Played Levels --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Total Played Levels</p>
    <app-statistic [text]="playedLevels" class="w-full"></app-statistic>
  </div>

  <!--- Deaths --->
  <div class="w-full">
    <p class="text-center text-2xl mb-4">Total Deaths</p>
    <app-statistic [text]="totalDeaths" class="w-full"></app-statistic>
  </div>
</div>
