<div class="flex relative flex-col">
  <div class="relative flex items-center w-full">
    <input
      class="px-4 py-4 pr-12 bg-white text-[#544339] w-full focus:placeholder:text-[#efe0da] pulse-on-focus focus:text-[#efe0da] focus:outline-none group"
      [placeholder]="name"
      [type]="type"
      [id]="id"
      [readonly]="readonly"
      [value]="value"
      (blur)="validateInput()"
      (input)="resolveInputError()"
    />
    <fa-icon
      class="absolute right-4 top-1/2 transform -translate-y-1/2 text-[#544339] fa-xl"
      [icon]="icon"
    ></fa-icon>
  </div>
  <p class="text-red-600 w-full mt-2" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>
</div>
