<div class="flex relative">
  <label>{{ name }}</label>
  <div class="relative flex items-center w-full">
    <input
      class="px-4 py-4 bg-white text-[#544339] w-full focus:placeholder:text-[#efe0da] pulse-on-focus focus:text-[#efe0da] focus:outline-none group"
      [placeholder]="_name"
      [type]="_type"
      [id]="_id"
      [readonly]="_readonly"
      [value]="_value"
    />
    <fa-icon
      class="absolute right-3 top-1/2 transform -translate-y-1/2 text-[#544339] fa-xl"
      [icon]="_icon"
    ></fa-icon>
  </div>
</div>
