<div [ngClass]="{ pulse: hovered }">
  <div class="p-2">
    <div
      *ngIf="level"
      class="w-full bg-white p-4 h-full flex justify-start flex-col text-start"
    >
      <button
        (mouseenter)="hovered = true"
        (mouseleave)="hovered = false"
        routerLink="/level/{{ level.Id }}"
        class="bg-black aspect-video w-full mb-2"
      >
        <img src="{{thumbnailUrl}}" alt="Level Thumbnail"/>
      </button>
      <div class="mb-1">
        <div class="flex justify-between w-full">
          <button
            (mouseenter)="hovered = true"
            (mouseleave)="hovered = false"
            routerLink="/level/{{ level.Id }}"
            class="flex w-full justify-between truncate items-center"
          >
            <h2 class="text-dark-gray truncate">
              {{ level.Name }}
            </h2>
            <app-time-text
              [unix]="level.CreationDate"
              class="text-sm text-light-gray"
            ></app-time-text>
          </button>
        </div>

        <div class="flex justify-between items-center text-sm truncate">
          <p class="truncate">
            by
            <button
              class="-mt-1 truncate text-light-gray-hover"
              routerLink="/user/{{ level.Author.Username }}"
            >
              {{ level.Author.Username }}
            </button>
          </p>

          <div class="flex gap-2 items-center">
            <div class="gap-1 flex">
              <fa-icon [icon]="playIcon"></fa-icon>
              <p>{{ level.TotalPlays }}</p>
            </div>
            <div class="gap-1 flex">
              <fa-icon [icon]="likeIcon"></fa-icon>
              <p>{{ level.Likes }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
