<div class="flex items-center flex-col">
  <div class="container">
    <h1 class="text-5xl mb-4">Authorization</h1>
    <div class="flex flex-col">
      <p class="text-2xl mb-2">Filters</p>
      <div class="flex gap-2">
        <app-dropdown
          [buttons]="buttons"
          label="Filters"
          [selectedOption]="filter"
          (changedOption)="setFilter($event)"
          class="w-full"
        ></app-dropdown>

        <app-icon-button
          [icon]="refreshIcon"
          (click)="refresh()"
        ></app-icon-button>
      </div>
    </div>
  </div>
  <div *ngIf="!loading" class="container animate-fade-in">
    <div class="mb-4">
      <div *ngFor="let ip of requests?.IpAddresses; let i = index" class="py-2">
        <app-ip-view
          (authorized)="authorizeIp($event, false)"
          (authorizedOnce)="authorizeIp($event, true)"
          (removed)="removeIp($event)"
          [ip]="ip"
        ></app-ip-view>
      </div>

      <p *ngIf="requests?.IpAddresses?.length == 0 && !loading" class="text-xl">
        No Requests Found
      </p>
    </div>

    <div class="flex justify-between items-center">
      <p class="h-full text-3xl text-light-gray">
        {{ page - -1 }} / {{ totalPages }}
      </p>
      <div class="flex gap-2">
        <app-icon-button
          *ngIf="page > 0"
          [icon]="arrowLeft"
          (click)="goToPage(page - 1)"
        ></app-icon-button>
        <app-icon-button
          *ngIf="page < totalPages - 1"
          [icon]="arrowRight"
          (click)="goToPage(page - -1)"
        ></app-icon-button>
      </div>
    </div>
  </div>
</div>
