<div
  *ngIf="level != undefined"
  class="flex justify-center flex-col items-center animate-fade-in"
>
  <div class="w-full flex items-center justify-center">
    <div class="container flex justify-between">
      <div class="lg:flex w-full gap-6">
        <div class="lg:flex w-full overflow-x-auto mb-2 lg:mb-0">
          <img
            [src]="thumbnailUrl"
            class="aspect-video w-full lg:w-auto lg:mr-4 mb-4 lg:mb-0"
          />
          <div class="flex-col w-full">
            <div>
              <app-level-editable-name
                [level]="level"
                (changedName)="setDate()"
                class="w-full"
              ></app-level-editable-name>
            </div>

            <div class="items-center flex gap-2">
              <h2 class="text-xl">
                by
                <button
                  class="text-light-gray-hover"
                  routerLink="/user/{{ level.Author.Username }}"
                >
                  {{ level.Author.Username }}
                </button>
              </h2>
            </div>

            <div *ngIf="level.Difficulty > 0" class="pt-2 pb-2">
              <app-difficulty-viewer
                [difficulty]="difficulty"
              ></app-difficulty-viewer>
            </div>

            <div class="flex gap-2">
              <!---- Total Plays --->
              <div class="flex gap-1 text-lg">
                <fa-icon [icon]="playIcon"></fa-icon>
                <p>{{ level.TotalPlays }}</p>
              </div>

              <!---- Likes --->
              <div class="flex gap-1 text-lg">
                <fa-icon [icon]="likeIcon"></fa-icon>
                <p>{{ level.Likes }}</p>
              </div>
            </div>

            <div class="flex text-lg italic text-light-gray">
              <span title="{{ 'Created at ' + level.CreationDate }}">{{
                creation
              }}</span>
              <span title="{{ 'Last Modified at ' + level.ModificationDate }}">
                {{ modification }}
              </span>
            </div>
          </div>
        </div>

        <div class="flex items-start gap-2 w-full lg:w-auto">
          <app-report-button class="w-full lg:w-auto"></app-report-button>
          <app-level-interaction-button
            class="w-full lg:w-auto"
            [level]="level"
          ></app-level-interaction-button>
        </div>

        <div></div>
      </div>
    </div>
  </div>

  <app-level-statistics
    [level]="level"
    class="w-full flex justify-center"
  ></app-level-statistics>
</div>
