<div
  *ngIf="!loading && level"
  class="flex justify-center flex-col items-center animate-fade-in content"
>
  <div class="w-full flex items-center justify-center">
    <div class="container flex justify-between mb-4">
      <div class="lg:flex w-full gap-6 h-full">
        <div class="lg:flex w-full mb-2 lg:mb-0 h-full">
          <div
            class="bg-black aspect-video w-full lg:mr-4 mb-4 lg:mb-0 lg:max-w-sm"
          >
            <img [ngSrc]="thumbnailUrl" alt="Level Thumbnail" class="" width="320" height="180"/>
          </div>
          <div class="flex-col w-full">
            <app-level-editable-name
              [level]="level"
              (changedName)="setDate()"
              class="w-full break-all"
            ></app-level-editable-name>

            <div class="items-center flex gap-2">
              <h2 class="text-xl">
                by
                <button
                  class="text-light-gray-hover"
                  routerLink="/user/{{ level.Author.Username }}"
                >
                  {{ level.Author.Username }}
                </button>
              </h2>
            </div>

            <div *ngIf="level.Difficulty > 0" class="pt-2 pb-2">
              <app-difficulty-view
                [difficulty]="difficulty"
              ></app-difficulty-view>
            </div>

            <div class="flex gap-2">
              <!---- Total Plays --->
              <div class="flex gap-1 text-lg">
                <fa-icon [icon]="playIcon"></fa-icon>
                <p>{{ level.TotalPlays }}</p>
              </div>

              <!---- Likes --->
              <div class="flex gap-1 text-lg">
                <fa-icon [icon]="likeIcon"></fa-icon>
                <p>{{ level.Likes }}</p>
              </div>

              <!---- Queues --->
              <div *ngIf="level.Queues != 0" class="flex gap-1 text-lg">
                <fa-icon [icon]="queueIcon"></fa-icon>
                <p>{{ level.Queues }}</p>
              </div>
            </div>

            <div class="text-lg italic text-light-gray">
              <span title="{{ 'Created at ' + creationDate }}">{{
                creationString
              }}</span>
              <span title="{{ 'Last Modified at ' + modificationDate }}">
                {{ modificationString }}
              </span>
            </div>
          </div>
        </div>

        <div class="gap-2 w-full lg:w-1/4">
          <app-level-queue-button
            *ngIf="relation"
            [isQueued]="relation.Queued"
            [level]="level"
            class="w-full"
          ></app-level-queue-button>
          <div class="flex mt-2 gap-2">
            <app-report-button class="w-full"></app-report-button>
            <app-level-like-button
              *ngIf="relation"
              [isLiked]="relation.Liked"
              [level]="level"
              class="w-full"
            ></app-level-like-button>
          </div>
        </div>

        <div></div>
      </div>
    </div>
  </div>

  <app-level-statistics
    [level]="level"
    class="container w-full flex justify-center"
  ></app-level-statistics>
</div>
