button {
    background-color: #8d7a75;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
}

fa-icon {
    color: white;
}

p {
    padding-left: 10px;
    color: white;
}