<div class="flex justify-center content">
  <div class="flex-col items-center justify-center w-full max-w-2xl content">
    <div
      class="bg-[#cdb242] w-full p-6 items-center flex justify-center box-shadow"
    >
      <h1 class="header font-bold text-center">Account Removal</h1>
    </div>
    <div class="container max-w-2xl flex-col">
      <div class="mb-2">
        <app-stepper
          [StepsCount]="3"
          [StepIndex]="pageIndex"
          class="w-full"
        ></app-stepper>
      </div>

      <app-removal-warning
        *ngIf="pageIndex == 0"
        (readWarning)="onReadWarning()"
      ></app-removal-warning>
      <app-login-form
        *ngIf="pageIndex == 1"
        (loggedInSession)="onLoggedInSession($event)"
        (loggedInEmail)="onLoggedInEmail($event)"
        [saveLogin]="false"
      ></app-login-form>
      <div *ngIf="pageIndex == 2">
        <app-remove-account-form
          [emailAddress]="emailAddress"
        ></app-remove-account-form>
      </div>
    </div>
  </div>
</div>
