<div class="flex justify-center content">
  <app-banned-page
    *ngIf="banned"
    [punishments]="punishments"
    class="w-full max-w-2xl"
  ></app-banned-page>

  <div
    *ngIf="!banned"
    class="flex-col items-center justify-center w-full max-w-2xl"
  >
    <div
      class="bg-[#cdb242] w-full p-6 items-center flex justify-center box-shadow"
    >
      <h1 class="header font-bold text-center">Login</h1>
    </div>
    <div class="container w-full">
      <app-login-form
        *ngIf="!banned"
        (loggedInSession)="onLoggedIn($event)"
        class="w-full"
      ></app-login-form>

      <div class="flex">
        <app-primary-button
          routerLink="/resetPassword"
          label="Reset Password"
          class="w-full mr-2"
        ></app-primary-button>
        <app-primary-button
          routerLink="/register"
          label="Register Account"
          class="w-full"
        ></app-primary-button>
      </div>
    </div>
  </div>
</div>
