<div class="flex justify-center">
  <app-banned-page *ngIf="banned" [punishments]="punishments"></app-banned-page>

  <div
    *ngIf="!banned"
    class="flex-col justify-between w-full container max-w-2xl"
  >
    <h1 class="header mb-6">Login</h1>
    <app-login-form
      *ngIf="!banned"
      (loggedInSession)="onLoggedIn($event)"
      class="w-full"
    ></app-login-form>

    <div class="flex">
      <app-primary-button
        routerLink="/resetPassword"
        label="Reset Password"
        class="w-full mr-2"
      ></app-primary-button>
      <app-primary-button
        routerLink="/register"
        label="Register Account"
        class="w-full"
      ></app-primary-button>
    </div>
  </div>
</div>
