@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

.container {
  @apply text-[#3f2e27];
  background-color: #efe0da;
  padding: 40px;
  margin: 20px;
  box-shadow: 8px 9px 0px rgba(0, 0, 0, 0.3);
}

.router-outlet {
  width: 500px;
  height: 300px;
}

.header {
  @apply text-6xl text-start w-full text-[#3f2e27];
}

.pulse-on-hover {
  &:hover {
    background-color: #cfb44c;
    animation: background-pulse 2s infinite;
  }
}

.pulse-on-focus {
  &:focus {
    background-color: #cfb44c;
    animation: background-pulse 2s infinite;
  }
}

.pulse {
  background-color: #cfb44c;
  animation: background-pulse 2s infinite;
}

.border-pulse-on-hover:hover {
  border-color: #cfb44c;
  animation: border-pulse 2s infinite;
}

.background-off-white {
  @apply bg-[#efe0da];
}

.selected-background {
  background-color: #d74f48;
}

.text-off-white {
  @apply text-[#efe0da];
}

.text-light-gray {
  color: #bdaca6;
}

.text-light-gray-hover:hover {
  color: #8d837f;
}

@keyframes background-pulse {
  0% {
    background-color: #cfb44c;
  }
  50% {
    background-color: #c9a751;
  }
  100% {
    background-color: #cfb44c;
  }
}

@keyframes border-pulse {
  0% {
    border-color: #cfb44c;
  }
  50% {
    border-color: #c9a751;
  }
  100% {
    border-color: #cfb44c;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 500ms;
}
