<div>
  <div class="mb-2">
    <p class="text-3xl mb-2">
      This will delete your account, <span class="font-bold">permanently</span>.
    </p>
    <p>- Your levels, scores and uploaded saves will be deleted forever.</p>
    <p>
      - Your username will never be available again. No one will ever be able to
      register a new account with your username.
    </p>
    <p class="text-3xl mt-2">Proceed with caution.</p>
  </div>

  <app-primary-button label="Next" (click)="click()"></app-primary-button>
</div>
